* {
    padding: 0px;
    margin: 0px;

}

body {
    background-color: #A7CDEE;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: #007bff;
    margin: 20px 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    margin: 15px 0;
}

.header-title {
    text-align: center;
    margin: 50px 0;
    font-size: 3em;
    color: #007bff;
}

.header-subtitle {
    text-align: center;
    font-size: 1.5em;
    color: #343a40;
}
/* image balanced */
.carousel-inner img {
    height: 120vh;
    object-fit: cover;
}

.course-section,
.faculty-section,
.success-section,
.contact-section {
    padding: 50px 0;
}

.course-card,
.faculty-card,
.testimonial-card {
    transition: transform 0.3s;
}

.course-card:hover,
.faculty-card:hover,
.testimonial-card:hover {
    transform: scale(1.05);
}


.login-form {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-btn {
    width: 100%;
}

.logo {
    height: 100px;
    width: 100px;
}

.eclogo {
    height: 100px;
    width: 100px;
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.testimonial-card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.testimonial-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.rounded-circle {
    width: 100px;
    height: 100px;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: bold;
}

