body {
    background-color: #f4f7fa;
    font-family: 'Roboto', sans-serif;
}


.header-title {
    text-align: center;
    margin: 50px 0;
    font-size: 3em;
    color: #007bff;
}

.header-subtitle {
    text-align: center;
    font-size: 1.5em;
    color: #343a40;
}

.testimonial-card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.testimonial-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.rounded-circle {
    width: 100px;
    height: 100px;
}